{
  "commands": {
    "01_update_composer": {
      "command": "export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update"
    },
    "02_storage_permissions": {
      "command": "chmod -R 777 /var/app/current/storage"
    }
  },
  "option_settings": [
    {
      "option_name": "COMPOSER_HOME",
      "namespace": "aws:elasticbeanstalk:application:environment",
      "value": "/root"
    }
  ]
}